name: CI/CD Visse

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build-and-test:
    name: Build, Test & Analyze
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Importante para o SonarCloud analisar o histórico

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Instalar Dependências
        run: npm install

      - name: Executar Cobertura de Testes (Jest)
        run: npm run coverage

      - name: Análise do SonarCloud
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Token automático do GitHub
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}    # Token que você configurou nos Secrets